{{!< default}}

<section class="hero is-medium is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-10-desktop is-offset-1-desktop">
          <h1 class="title is-2 is-spaced">Error</h1>
          <h2 class="title is-3 is-spaced">{{code}}</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<main class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-10-desktop is-offset-1-desktop">
        <div class="content">
          <h2>Owch!</h2>
           <dl>
              <dt>1**</dt>
              <dd>Just continue</dd>
              <dt>2**</dt>
              <dd>Everything is dandy</dd>
              <dt>3**</dt>
              <dd>Do something else</dd>
              <dt><b>4**</b></dt>
              <dd><b>You did something wrong</b></dd>
              <dt>5**</dt>
              <dd>I did something wrong</dd>
           </dl>
        </div>
      </div>
    </div>
  </div>
</main>
