{{!< default}}

<section class="hero is-medium is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-10-desktop is-offset-1-desktop">
          <h1 class="title is-3 is-spaced">{{@blog.description}}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<main class="section">
  <section class="container">
    <div class="columns is-multiline">
      {{#foreach posts}} {{> "post-article"}} {{/foreach}}
    </div>
  </section>
</main>
<section class="container section">
  {{pagination}}
</section>