{{!< default}}

{{#post}}
<section class="hero is-medium is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-10-desktop is-offset-1-desktop">
          <h1 class="title is-2 is-spaced">{{title}}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<main class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-10-desktop is-offset-1-desktop">
        <div class="content" id="maincontent">
          {{content}}
        </div>
      </div>
    </div>
  </div>
</main>
{{/post}}
